openapi: '3.0.0'

info:
  title: service-mono
  version: 1.0.0
  contact:
    name: Pagie
    url: https://pagie.co
    email: hello@pagie.co

servers:
  - url: https://pagie.co/api/mono

tags:
  - name: Auth
  - name: Domains
  - name: Environments
  - name: Teams
  - name: Fonts
  - name: Assets
  - name: Forms
  - name: Pages
  - name: Collections
  - name: Symbols

paths:
  /auth/authenticate:
    post:
      description: Authenticate a user
      tags:
        - Auth
      operationId: Authenticate
      responses:
        200:
          $ref: '#/components/responses/authenticate'
        401:
          $ref: '#/components/responses/status-401-response'
        422:
          $ref: '#/components/responses/status-422-response'

  /auth/register:
    post:
      description: Register a new user
      tags:
        - Auth
      operationId: Register
      responses:
        201:
          $ref: '#/components/responses/register'
        422:
          $ref: '#/components/responses/status-422-response'

  /auth/current-user:
    get:
      description: Get the currently logged in user
      tags:
        - Auth
      operationId: CurrentUser
      responses:
        200:
          $ref: '#/components/responses/user'

  /domains:
    get:
      description: Get a list of domains
      tags:
        - Domains
      operationId: GetDomains
      responses:
        200:
          $ref: '#/components/responses/get-domains'
        204:
          description: No domains found

  /environments:
    get:
      description: Get a list of environments
      tags:
        - Environments
      operationId: GetEnvironments
      responses:
        200:
          $ref: '#/components/responses/get-environments'
        204:
          description: No environments found
    post:
      description: Create a new environment
      tags:
        - Environments
      operationId: CreateEnvironment
      responses:
        201:
          $ref: '#/components/responses/create-environment'
        422:
          $ref: '#/components/responses/status-422-response'

  /environments/{environment}:
    get:
      description: Get a specific environment
      tags:
        - Environments
      operationId: GetEnvironment
      parameters:
        - in: path
          name: environment
          schema:
            type: string
          required: true
          description: The environment ID
      responses:
        200:
          $ref: '#/components/responses/get-environment'
    patch:
      description: Update a specific environment
      tags:
        - Environments
      operationId: UpdateEnvironment
      parameters:
        - in: path
          name: environment
          schema:
            type: string
          required: true
          description: The environment ID
      responses:
        200:
          $ref: '#/components/responses/get-environment'

  /environments/{environment}/attach-domain:
    put:
      description: Attach a domain to an environment
      tags:
        - Environments
      operationId: AttachDomain
      parameters:
        - in: path
          name: environment
          schema:
            type: string
          required: true
          description: The environment ID
      responses:
        201:
          $ref: '#/components/responses/status-201-response'

  /environments/{environment}/detach-domain:
    delete:
      description: Detach a domain from an environment
      tags:
        - Environments
      operationId: DetachDomain
      parameters:
        - in: path
          name: environment
          schema:
            type: string
          required: true
          description: The environment ID
      responses:
        204:
          description: Domain successfully detached

  /teams:
    get:
      description: Get a list of teams the current user belongs to
      tags:
        - Teams
      operationId: GetTeams
      responses:
        200:
          $ref: '#/components/responses/get-teams'

  /teams/{team}:
    get:
      description: Get a specific team
      tags:
        - Teams
      operationId: GetTeam
      parameters:
        - in: path
          name: team
          schema:
            type: string
          required: true
          description: The team ID
      responses:
        200:
          $ref: '#/components/responses/get-team'

  /font-list:
    get:
      description: Get the font list
      tags:
        - Fonts
      operationId: GetFontList
      responses:
        200:
          $ref: '#/components/responses/get-font-list'

  /domains/{domain}/assets:
    get:
      description: Get a list of assets from the given domain
      tags:
        - Assets
      operationId: GetAssets
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
      responses:
        200:
          $ref: '#/components/responses/get-assets'
    post:
      description: Upload an asset to the given domain
      tags:
        - Assets
      operationId: UploadAsset
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
      requestBody:
        $ref: '#/components/requestBodies/upload-asset-request'
      responses:
        201:
          $ref: '#/components/responses/get-asset'
        403:
          $ref: '#/components/responses/status-403-response'

  /domains/{domain}/assets/{asset}:
    get:
      description: Get a specific asset
      tags:
        - Assets
      operationId: GetAsset
      parameters:
        - in: path
          name: domain
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: asset
          schema:
            type: string
            format: uuid
          required: true
      responses:
        200:
          $ref: '#/components/responses/get-asset'
        403:
          $ref: '#/components/responses/status-403-response'
        404:
          $ref: '#/components/responses/status-404-response'
    delete:
      description: Delete a specific asset
      tags:
        - Assets
      operationId: DeleteAsset
      parameters:
        - in: path
          name: domain
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: asset
          schema:
            type: string
            format: uuid
          required: true
      responses:
        204:
          description: Asset successfully deleted
        403:
          $ref: '#/components/responses/status-403-response'
        404:
          $ref: '#/components/responses/status-404-response'


  /domains/{domain}/forms:
    get:
      description: Get a list of forms from the given domain
      tags:
        - Forms
      operationId: GetForms
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
      responses:
        200:
          $ref: '#/components/responses/get-forms'

  /domains/{domain}/pages:
    get:
      description: Get a list of pages from the given domain
      tags:
        - Pages
      operationId: GetPages
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
      responses:
        200:
          $ref: '#/components/responses/get-pages'

  /domains/{domain}/pages/{page}/publish:
    put:
      description: Publish the given page
      tags:
        - Pages
      operationId: PublishPage
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
        - in: path
          name: page
          schema:
            type: string
            format: uuid
          required: true
          description: the page ID
      responses:
        422:
          $ref: '#/components/responses/status-422-response'

  /domains/{domain}/collections:
    get:
      description: get a list of collections from the given domain
      tags:
        - Collections
      operationId: GetCollections
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
      responses:
        200:
          $ref: '#/components/responses/get-collections'
    post:
      description: Create a new collection
      tags:
        - Collections
      operationId: CreateCollection
      parameters:
        - in: path
          name: domain
          schema:
            type: string
          required: true
          description: The domain ID
      responses:
        201:
          $ref: '#/components/responses/create-collection'
        403:
          $ref: '#/components/responses/status-403-response'
        422:
          $ref: '#/components/responses/status-422-response'

  /domains/{domain}/collections/{collection}:
    get:
      description: Get a specific collection
      tags:
        - Collections
      operationId: GetCollection
      parameters:
        - in: path
          name: domain
          schema:
            type: string
            format: uuid
          required: true
        - in: path
          name: collection
          schema:
            type: string
            format: uuid
      responses:
        200:
          $ref: '#/components/responses/get-collection'
        403:
          $ref: '#/components/responses/status-403-response'
        404:
          $ref: '#/components/responses/status-404-response'

components:
  requestBodies:
    upload-asset-request:
      content:
        multipart/form-data:
          schema:
            type: object
            properties:
              file:
                type: string
                format: binary

  responses:
    authenticate:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/authenticate'

    register:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/register'

    user:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/user'

    get-domains:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/domain'

    get-environments:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/environment'

    get-environment:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/environment'

    create-environment:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/environment'

    get-teams:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/team'

    get-team:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/team'

    get-font-list:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/font'

    get-assets:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/asset'

    get-asset:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/asset'

    get-forms:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/form'

    get-pages:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/page'

    get-collections:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                type: array
                items:
                  $ref: '#/components/schemas/collection'

    get-collection:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/collection'

    create-collection:
      description: OK
      content:
        application/json:
          schema:
            properties:
              data:
                $ref: '#/components/schemas/collection'

    status-201-response:
      description: Created
      content:
        application/json:
          schema:
            properties:
              message:
                type: string

    status-401-response:
      description: Unauthorized
      content:
        application/json:
          schema:
            properties:
              message:
                type: string

    status-403-response:
      description: Forbidden
      content:
        application/json:
          schema:
            properties:
              message:
                type: string
                example:
                  Forbidden

    status-404-response:
      description: Not Found
      content:
        application/json:
          schema:
            properties:
              message:
                type: string
                example:
                  Not Found

    status-422-response:
      description: Unprocessable Entity
      content:
        application/json:
          schema:
            properties:
              message:
                type: string
              errors:
                type: object

  schemas:
    authenticate:
      properties:
        type:
          type: string

    register:
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        timezone:
          type: string
        last_ip:
          type: string
        last_login_at:
          type: string
          format: 'date-time'
        email_verified_at:
          type: string
          format: 'date-time'
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    user:
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        name:
          type: string
        timezone:
          type: string
        last_ip:
          type: string
        last_login_at:
          type: string
          format: 'date-time'
        email_verified_at:
          type: string
          format: 'date-time'
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    domain:
      properties:
        id:
          type: string
          format: uuid
        domain_name:
          type: string
        environment:
          $ref: '#/components/schemas/domain-environment'
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    environment:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        domains:
          type: array
          items:
            $ref: '#/components/schemas/environment-domain'
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    environment-domain:
      properties:
        id:
          type: string
          format: uuid
        domain_name:
          type: string
          example:
            test-domain.production.pagie.co

    domain-environment:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string

    team:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    font:
      properties:
        origin:
          type: string
        family:
          type: string
        variants:
          type: object
        subsets:
          type: object

    asset:
      properties:
        id:
          type: string
          format: uuid
        hash:
          type: string
        filename:
          type: string
        original_filename:
          type: string
        description:
          type: string
          nullable: true
        extension:
          type: string
        mimetype:
          type: string
        filesize:
          type: integer
        extra_attributes:
          type: object
          nullable: true
        path:
          type: string
        thumb_path:
          type: string
        hash_path:
          type: string
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    form:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    page:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        slug:
          type: string
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'

    collection:
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        created_at:
          type: string
          format: 'date-time'
        updated_at:
          type: string
          format: 'date-time'
